<h1>Welcome <%= @user.name %></h1>
<a href="/users/<%= @user.id%>/edit">Edit Profile</a>

<div>
	<h1>Secrets</h1>
	<% @secrets.each do |secret|%>
	<p><%= secret.content%></p>
	
	<form action="/secrets/<%=secret.id%>" method="post">
		<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
		<input type="hidden" name="_method" value="delete">
		<input type = "submit" value="Delete" name="delete">
	</form>
	<%end%>
</div>

<form action="/secrets" method ="post">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
	<label for="content">New Secret</label>
	<input id="content" type="text" name="content" placeholder="New Secret">
	<input type="submit" value="Create Secret">
</form>


<h1>My Secret</h1>